# LaTeX auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2

# LaTeX intermediate files
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Build tool files
*.bbl
*.bcf
*.blg
*.run.xml

# Misc
*.nav
*.snm
*.vrb

# Other
.DS_Store
.vscode